@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding-inline: 2.5vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

.align-center {
  display: flex;
  align-items: center;
}

.logo-main {
  width: 30%;
}

.logo {
  height: 35px;
}

.slscm {
  min-width: 70%;
  justify-content: flex-end;
  padding-right: 1vw;
}

.searchbar {
  min-width: 200px;
  display: flex;
  position: relative;
  border: 2px solid #e60012;
  border-radius: 100px;
  height: 35px;
}

.search {
  padding: 10px 15px;
  width: 100%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #e60012;
  background: transparent;
}

.search::placeholder {
  color: #e60012;
}

.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 15px;
  color: #e60012;
}

.search:focus {
  outline: none;
  width: 300px;
}

.login-Signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-left: 30px;
  gap: 20px;
}

.ls {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  width: max-content;
}

.ls:hover {
  color: #e60012;
}

.cart {
  margin-left: 30px;
}

.menu {
  margin-left: 15px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #e60012;
  stroke-width: 2.5;
  stroke-linecap: round;
}

.ham5 .top {
  stroke-dasharray: 40 82;
}

.ham5 .bottom {
  stroke-dasharray: 40 82;
}

.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}

.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}

.toolBox {
  height: 0;
  opacity: 0;
  width: 300px;
  background: #fff;
  position: absolute;
  top: 125%;
  right: 0;
  border-radius: 20px;
  display: none;
  box-shadow: 0 0 35px 5px #272727;
  z-index: 50;
}

.menuActive {
  display: inline-block;
  z-index: 10;
  height: 50vh;
  opacity: 1;
}

.triangle {
  position: absolute;
  top: -40px;
  right: 30px;
  border-bottom: 20px solid #fff;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.slider {
  height: calc(100vh - 180px);
  position: relative;
  width: 100%;
  margin: 80px 0 50px 0;
  overflow: hidden;
}
.video-heading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80%;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.slider-wrapper {
  cursor: grab;
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
  overflow: hidden;
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}

.slider-item {
  width: 100vw;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider-item:nth-child(1) {
  background: url(./Assets/01.png);
  background-size: cover;
  background-position: right;
}
.slider-item:nth-child(2) {
  background: url(./Assets/02.png);
  background-size: cover;
  background-position: right;
}
.slider-item:nth-child(3) {
  background: url(./Assets/03.png);
  background-size: cover;
  background-position: right;
}
.slider-item:nth-child(4) {
  background: url(./Assets/04.jpg);
  background-size: cover;
  background-position: center;
}

.slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.grabbing {
  cursor: grabbing;
}

.cursor {
  position: absolute;
  width: 100px;
  padding: 10px 15px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  pointer-events: none;
  opacity: 0;
}

.slider:hover .cursor {
  opacity: 1;
}

.cursor p {
  color: #000;
  text-transform: uppercase;
}

.login-Signup > .fa-solid {
  display: none;
}

.characters {
  padding-block: 5vh;
  padding-inline: 2.5vw;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.charHeading,
.featHeading,
.storeHeading {
  font-weight: 600;
  text-align: left;
  color: #000;
  font-size: 2rem;
  width: 100%;
}

.charSlider {
  width: 75%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.arrow {
  height: 20%;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
  transform: rotate(25deg);
  animation: blink 1s ease-in-out infinite forwards;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.switch-wrapper {
  width: 100%;
  position: relative;
}

.switch {
  width: 100%;
}

.btn-up,
.btn-down,
.btn-right,
.btn-left {
  position: absolute;
  top: 40%;
  left: 6%;
  height: 6.2%;
  width: 2.8%;
  border-radius: 100px;
  justify-content: center;
  background: radial-gradient(#4f4f4f 30%, #373737);
  box-shadow: 0 1px 0 2px #000;
}

.switch-wrapper > .align-center > .fa-solid {
  color: #191919;
  font-size: 100%;
}

.switch-wrapper > .align-center {
  cursor: pointer;
}

.switch-wrapper > .align-center:hover {
  box-shadow: 0 1px 0 1px #000;
}

.btn-down {
  top: 54%;
}

.btn-right,
.btn-left {
  top: 47%;
  left: 9%;
}

.btn-left {
  left: 3%;
}

.char-img-wrapper-container {
  position: absolute;
  top: 49.5%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 56%;
  background-color: #000;
  overflow: hidden;
}

.char-img-wrapper {
  display: flex;
  height: 100%;
  width: auto;
  transform: translate(0);
}

.char-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.line {
  padding-inline: 2.5vw;
}

@media (min-width: 500px) and (max-width: 600px) {
  .switch-wrapper > .align-center > .fa-solid {
    color: #191919;
    font-size: 70%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .switch-wrapper > .align-center > .fa-solid {
    color: #191919;
    font-size: 70%;
  }
}

@media screen and (max-width: 700px) {
  .search {
    display: none;
  }

  .searchbar {
    min-width: auto;
    align-items: center;
    border: none;
  }

  .ls {
    display: none;
  }

  .login-Signup > .fa-solid {
    display: flex;
    color: #e60012;
  }

  .charSlider {
    width: 100%;
  }
}

.featured {
  margin-block: 50px;
  padding-inline: 2.5vw;
}

fieldset {
  grid-template-columns: repeat(4, auto);
  inline-size: 80vw;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-rows: 50vh;
  border: none;
  width: 100%;

  > label {
    background: var(--img) 50% / cover;
    width: 0;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;

    &:focus-within {
      outline: none;
    }

    > input {
      opacity: 0;
    }
  }

  .box {
    position: absolute;
    height: 40%;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -5px 20px 5px #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 10px;
  }

  .gname {
    color: #000;
    font-weight: 700;
    cursor: pointer;
  }

  .gname:hover {
    color: #e60012;
  }

  .status {
    color: #fff;
    background: #e60012;
    border-radius: 100px;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
  }

  .Co {
    border-left: 3px solid #e60012;
    color: #000;
    padding-inline: 10px;
    margin-top: 15px;
    line-height: 1;
  }

  .pre-order {
    background: #4b5cce;
  }

  @media (prefers-reduced-motion: no-preference) {
    label {
      transition: 2s
        linear(
          0,
          0.01,
          0.04 1.6%,
          0.161 3.3%,
          0.816 9.4%,
          1.046,
          1.189 14.4%,
          1.231,
          1.254 17%,
          1.259,
          1.257 18.6%,
          1.236,
          1.194 22.3%,
          1.057 27%,
          0.999 29.4%,
          0.955 32.1%,
          0.942,
          0.935 34.9%,
          0.933,
          0.939 38.4%,
          1 47.3%,
          1.011,
          1.017 52.6%,
          1.016 56.4%,
          1 65.2%,
          0.996 70.2%,
          1.001 100%,
          1
        );
    }
  }

  > label:has(input:checked) {
    width: 30vw;
    height: 100%;
  }

  > label:has(input:checked) + * {
    width: 8vw;
  }

  &:has(label:nth-child(2) > input:checked) > label:nth-child(1) {
    height: 70%;
  }

  &:has(label:nth-child(2) > input:checked) > label:nth-child(3) {
    height: 70%;
  }

  &:has(label:nth-child(2) > input:checked) > label:nth-child(4) {
    height: 50%;
  }

  &:has(label:nth-child(1) > input:checked) > label:nth-child(2) {
    height: 80%;
  }

  &:has(label:nth-child(1) > input:checked) > label:nth-child(3) {
    height: 60%;
  }

  &:has(label:nth-child(1) > input:checked) > label:nth-child(4) {
    height: 40%;
  }

  &:has(label:nth-child(3) > input:checked) > label:nth-child(1) {
    height: 60%;
  }

  &:has(label:nth-child(3) > input:checked) > label:nth-child(2) {
    height: 80%;
  }

  &:has(label:nth-child(3) > input:checked) > label:nth-child(4) {
    height: 80%;
  }

  &:has(label:nth-child(4) > input:checked) > label:nth-child(3) {
    height: 80%;
  }

  &:has(label:nth-child(4) > input:checked) > label:nth-child(2) {
    height: 60%;
  }

  &:has(label:nth-child(4) > input:checked) > label:nth-child(1) {
    height: 40%;
  }
}

fieldset > label:has(input:checked) > .box {
  bottom: 0;
}

p {
  color: #fff;
}

a {
  color: tomato;
}

.featHeading {
  margin-bottom: 20px;
  color: #000;
}

.mario {
  min-height: 90vh;
  width: 90vw;
  position: relative;
  margin-block: 50px;
}

#mario canvas {
  width: 95vw !important;
  height: 500px !important;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  cursor: grab;
  background: #e60012;
}

.store {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.storeHeading {
  padding-inline: 2.5vw;
  margin-block: 20px;
  text-shadow: 0 0 10px 2px #000;
}

.store-showcase {
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
  overflow: hidden;
}

.banner-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arcade {
  position: absolute;
  top: 15%;
  left: 0;
  height: 65%;
  width: auto;
}
.controller {
  position: absolute;
  top: 53%;
  right: 10%;
  height: auto;
  width: 30%;
}
.m-logo {
  position: absolute;
  top: 27%;
  right: 10%;
  height: 100px;
}
.coin {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 200px;
}
.jumpMario {
  position: absolute;
  top: 70px;
  left: 200px;
  width: 200px;
  z-index: 2;
}
.wire {
  position: absolute;
  top: 19%;
  width: 100%;
  height: 75%;
  left: -5%;
}
.arcade,
.jumpMario,
.coin,
.m-logo,
.controller {
  cursor: pointer;
  z-index: 1;
}
.overlay {
  background: #0000007c;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #e60012;
  padding: 10px;
}
.close > .fa-regular {
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width: 950px) {
  .coin {
    width: 150px;
    left: 300px;
  }
  .jumpMario {
    top: 100px;
    width: 170px;
    left: 150px;
  }
  .controller {
    width: 30%;
    right: 6%;
  }
  .arcade {
    left: -5%;
  }
}
@media screen and (max-width: 650px) {
  .coin {
    left: 270px;
  }
  .jumpMario {
    width: 150px;
    top: 120px;
    left: 170px;
  }
}
@media screen and (max-width: 575px) {
  .arcade {
    height: 50%;
  }
  .jumpMario {
    width: 100px;
    left: 150px;
  }
  .coin {
    width: 100px;
    left: 230px;
  }
  .wire {
    height: 65%;
    width: 95%;
    left: 0;
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 400px) {
  .arcade {
    height: 40%;
  }
  .jumpMario {
    width: 80px;
    left: 99px;
    top: 99px;
  }
  .coin {
    width: 80px;
    left: 170px;
  }
  .m-logo {
    height: 55px;
    top: 50%;
  }
  .controller {
    width: 50%;
    top: 63%;
    right: 14%;
  }
  .wire {
    transform: rotate(50deg);
    height: 50%;
    top: 30%;
    left: 15%;
    width: 70%;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .jumpMario {
    left: 125px;
    top: 99px;
  }
  .controller {
    width: 45%;
    top: 70%;
  }
  .wire {
    transform: rotate(40deg);
    top: 30%;
    width: 75%;
    left: 12%;
  }
  .m-logo {
    top: 53%;
    right: 5%;
  }
}
.best-sellers {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}









body{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.container{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 250px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    /* border-radius: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
/* .container .card:hover{
    box-shadow: 0 0 5px #0f00e0,
                0 0 15px #0f00e0,
                0 0 25px #0f00e0,
                0 0 100px #0f00e0;
} */
.container .card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: 0.7s;
    cursor: pointer;
}
img{
    height: 400px;

}



.container .card:hover .content{
    bottom: 0;
}
.container .card .content .contentbx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    /* margin: 0 0 25px; */
    line-height: 1.1em;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(-20px);
    top: -15px;

}
.container .card:hover .content .contentbx h3{
    opacity: 1;
    transform: translateY(0px);
}
.container .card .content .contentbx h3:hover{
    letter-spacing: 4px;
    color: chartreuse;
    font-weight: 800;
}
.container .card:hover .content .contentbx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card:hover .content .sci{
    bottom: 70px;
    padding-right: 80px;
}
.sci{
    color: white;
    padding-right: 40px;
    font-size: 100% ;
    margin-bottom: 10px;
}


.btn{
    
        margin: 20px;
        text-align: center;
        text-decoration: none;
        background: #ff0202;
        /* padding-left: 10px; */
        letter-spacing: 1px;
        color: #fff;
        
}
h1{
    color: #ff0202;
    text-align: center;
    font-size: 300%;
}
